---
title: "Python 3 : Functions, Loops, Lambdas"
author: "Osman Cakir"
date: 2018-12-02
description: "A few more python programming concepts for data analysis"
type: technical_note
draft: false
---

Please note, this is not meant to be a comprehensive overview of Python or programming in general, but this crash course covers the basics that you need to know when you work with the data. I am planning to provide some more python learning material that focuses on more of the software development topics too. However for now here we focus on **data science** aspects of it. 

Since I do not want to divide the topic into more sub topics any more, this notebook will be a little bit long and we will cover many stuff. Get your pen and paper ready to take notes. 

Let's see what we will cover : 


* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range() function
* list comprehension
* Creating Custom Functions
* lambda expressions
* map() and filter() functions
* Various methods
____

## Comparison Operators

Here you can see how you can create comparison operators in Python. Comparison operators output a boolean value depending on the statement is whether true or not.

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

In [7]:
'hi' != 'bye'

True

## Logic Operators

With Logic Operators you can combine multiple comparison operators together. Logic Operators will output boolean values

* and operator: all of the conditions must be met in order to have 'true' as the output
* or operator: it is sufficient to meet one of the conditions as true in order to have 'true' as the output. 
**Remember** : 'and' and 'or'  logic operators can only work with one instance of condition.

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

If statements basically tell us : ' If the condition is true, then run the following code after the colon (:)'

In [56]:
if 1 < 2:
    print('Yep!')

Yep!

In [57]:
if 1 < 2:
    print('yep!')

yep!

When combined with else statement it tells us ' If the condition is not true after the if statement, go for the else statement. And run it's code after the colon (:)'

In [58]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

You can combine if statements with elif statements. It tells us ' If the condition is not true after the if statement, go for the elif statement. And run it's code after the colon (:). If elif's statement was not also true, go for the else statement and run else's code.' **Remember** whichever statement's the condition is first met the code of that statement will be executed.

In [60]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops : Iterate through a sequence

In [61]:
seq = [1,2,3,4,5]

For Loops are used when you have a block of code which you want to repeat a fixed number of times. The Python for statement iterates over the members of a sequence in order, executing the block each time. Item here is a temporary variable. You can write whatever you want.

In [62]:
for item in seq:
    print(item)

1
2
3
4
5

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [64]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

While loops, like the ForLoop, are used for repeating sections of code - but unlike a for loop, the while loop will not run n times, but until a defined condition is no longer met. If the condition is initially false, the loop body will not be executed at all. If you do not have defined condition at the bottom you can create an infinite loop. In this case you can have a crash. In order to solve it, go to Kernel and press restart. You can also try to interrupt but it is not always helpful.

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

Range function creates a sequence automatically. It takes three arguments. range(start(inclusive), stop(exclusive), step)

In [66]:
range(5)

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

It is a shortcut when you want to make a quick calculation over all of the elements in your list. It is a nice to know thing but this kind of operations will be extremely easy with Numpy.

In [69]:
x = [1,2,3,4]

In [70]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [71]:
[item**2 for item in x]

[1, 4, 9, 16]

## Creating Custom Functions

To create your own functions you should use 'def function_name():' then write the code of your function. You can create a doctstring for your function as shown below. (Your doctstring will be shown when shift+tab is pressed.)

In [8]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [73]:
my_func

In [74]:
my_func()

default

In [75]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

A lot of times you will want to return a value so you can get it equal to another value instead of just printing out with print() function.

In [77]:
def square(x):
    return x**2

In [78]:
out = square(2)

In [79]:
print(out)

4

## Lambda Expressions or Anonymous Functions

In [80]:
def times2(var):
    return var*2

In [81]:
times2(2)

4

The lambda operator or lambda function is a way to create small anonymous functions, i.e. functions without a name. These functions are throw-away functions, i.e. they are just needed where they have been created. With lambda expressions above 2 lines of code can be decreased to one line. You can define functions with lambda expressions.

In [82]:
lambda var: var*2

In [10]:
t2=lambda var: var*2

In [11]:
t2(2)

4

## map() and filter() functions

Let's say you have a list called seq. Untill now we learned that you can use list comprehension for basic calculation operations over the elements of a list . Here we add one more way to do this; map() function. With map() function you can iterate through any function over your sequence. You can use lambda expressions, built-in functions or your own functions. It takes two arguments: map(function, sequence). When you concenate it with the list function you can create lists with it.

In [83]:
seq = [1,2,3,4,5]

In [84]:
map(times2,seq)

In [85]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

If you want to filter out elements in a sequence based off of a function you can use filter() function. filter() function takes (should take) a function or a lambda expression as the first argument and creates a Boolean value for each element in the sequence. If you concatenate the filter function with a list function you can get a list.

In [87]:
filter(lambda item: item%2 == 0,seq)

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## Various common methods

Below I tried to add some commonly used methods for various data types.

## String Methods

In [111]:
st = 'hello my name is Sam'

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [103]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

## Dictionary Methods

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [17]:
d.values()

dict_values(['item1', 'item2'])

## List Methods

In [95]:
lst = [1,2,3]

In [96]:
lst.pop()

3

In [108]:
lst

[1, 2]

In operator : This is an easy way to check whether one element is in your list.

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True

## Tuple Unpacking Method

Let's have a list called x which contains tuples. To unpack the tuples inside we can use for loops. Tuple unpacking will be useful for reassignments. Remember tuples are normally immutable.

In [12]:
x=[(1,2),(3,4),(5,6)]

In [13]:
for (a,b) in x:
    print(a)

1
3
5

Above code will also work without parenthesis (a,b). By convention you can use them

In [14]:
for a,b in x:
    print(a)

1
3
5

# Well Done!