---
title: "Python 1 : Introduction"
author: "Osman Cakir"
date: 2018-12-02
description: "Introduction to Python"
type: technical_note
draft: false
---

Python started as a fun project by a dutch guy who got bored on a Christmas Holiday. Check out this guy. He is cool. [Guido van Rossum](https://www.youtube.com/watch?v=xLVxoz-mQFs)

Anyways we are going to do some basic calculations, introducing variables and data types in this introduction tutorial. 

Let's Start I am psyched!

## Calculations

As you can guess basic calculation operators are : summing: ' + ', subtracting: ' - ', Multiplying: ' \* ' Division: ' / ', Exponentiation: ' \*\* ', and Modulo: ' % ' (Which is the operation for giving you the result of the reminder of a division)

In [1]:
1+5

6

In [2]:
7-3

4

In [3]:
9*23

207

In [4]:
48/43

1.1162790697674418

In [12]:
67%8

3

In [15]:
3+2 * 4+1

12

In [17]:
(3+2)*(4+1)

25

-->Important note here: Python does the mathematical operations in mathematical order. So be careful to wrap in paranthesis where you need.

## Variable Assignment

Variables are used to call up a value. To create a variable you just use equals sign (=). Variable names are case sensitive and you can not start with a number or special character.

In [7]:
height=182

In [11]:
weight=65

-->height and weight variables are created.

In [9]:
5aba=76

SyntaxError: invalid syntax (<ipython-input-9-0958b357e6cd>, line 1)

In [10]:
%aba=45

ERROR:root:Line magic function `%aba` not found.

-->5aba and %aba variables couldn't be created.

## Data Types

* Usually the online courses start with introducing 4 data types.
   * int: Integers
   * float: Real numbers with an integer part and a fraction part
   * str: Strings. Python's text. You can use both single quotation and double quotation when writing strings in Python.
   * bool: Booleans. True or False statements. 
* the variables created with these 4 represents a single value. I will go ahead and introduce you the data types that when assigned to a variable can take multiple values as well. These are lists, sets, dictionaries and tuples.

In [20]:
#integers
5

5

In [21]:
#floats
5.0

5.0

In [31]:
#Strings
'hello'

'hello'

In [32]:
#or
"hello"
#both works

'hello'

In [33]:
#If you want to say something like 'let's go' in strings just wrap it with double quatation.
"let's go"

"let's go"

In [26]:
#Booleans
True

True

In [27]:
#Booleans
False

False

To learn about a variable's type you can use type() function. For example:

In [34]:
type(height)

int

You can add strings. When you do it, they are placed together. For example:

In [37]:
'ab'+'cd'

'abcd'

But you can not substract, multiply or divide strings. 

* 'hey' - 'hey' : error
* 'hey' * 'hey' : error
* 'hey' / 'hey' : error
* 'heyhey' - 'hey' : also error 
* 'hey' * 2 : works
* 'hey' + 2 : error

To print a result use print() function. For Example:

In [36]:
savings=200
print(savings)

200

You can convert variables to each other. To do that use: 
* str(variable name) : to convert it to a string
* float(variable name) : to convert it to a float
* bool(variable name) : to convert it to a boolean.

But this only works if two data types are convertible to each other

### Lists

to create a list, use brackets []. Lists can contain any data types. Floats, booleans, strings, integers; anything.

In [43]:
['a','b','c']

['a', 'b', 'c']

In [48]:
heights=[1.73, 1.82, 1.75,1.90]

Lists can also contain different types of data in one list.

In [53]:
heights2=['berk', 1.73, 'salih', 1.82, 'dad', 1.75, 'mum', 1,65]

Lists can also contain other lists.

In [54]:
heights3=[['berk', 1.73],['salih', 1.82], ['dad', 1.75], ['mum',1.65]]

### List Indexing

To print specific elements of a list you can use indexing. Python indexes data as 
* from left to right :      0  1  2  3  4  5 ... 
* from right to left : ... -6 -5 -4 -3 -2 -1 

to call an indexed element from a list:

In [50]:
heights2[0]

'berk'

In [55]:
heights3[-1]

['mum', 1.65]

to slice a list, use colon ([:]) notation. The first indexed element is going to be included but the last indexed element is not going to be included in the list. 

* [:] --> will take the entire list
* [2:] --> will take from 2nd indexed element (inclusive) till the last element (inclusive again)
* [:9] --> will take from the first element (inclusive) till the 9th indexed element (exclusive)

In [56]:
heights[0:2]

[1.73, 1.82]

As you can see above 0 indexed element in the list (1.73) is included but the 2nd indexed element (1.75) (third element in the list) is not included in the output.

Subsetting List of Lists

In [67]:
parents = heights3[2:]

In [68]:
parents

[['dad', 1.75], ['mum', 1.65]]

In [69]:
dad_height=heights3[2][1]

In [71]:
dad_height

1.75

### Tuples

The main difference between tuples and lists is that the values in tuples are immutable!. Tuples are created with paranthesis notatiton. ()

In [72]:
(1,2,3,4)

(1, 2, 3, 4)

In [74]:
type((1,2,3,4))

tuple

In [75]:
a=(1,2,3,4)

In [76]:
a[0]

1

### Sets

Sets are defined by unique elements. Sets are created by {} notation. And they do not support indexing.

In [77]:
{1,1,1,2,2,2,3}

{1, 2, 3}

In [78]:
a={1,2,3}

In [79]:
a[0]

TypeError: 'set' object does not support indexing

### Dictionaries

Dictionaries are key and value pairs. They also do not support indexing. Dictionaries do not hold elements in sequence. Instead you can call their values by the keys.

In [80]:
d={'key1':'value', 'key2': 'value2'}

In [81]:
d[0]

KeyError: 0

In [82]:
d['key1']

'value'